.header {
  text-align: center;
  color: azure;
  font-size: 100px;
  font-family: "Sofia", sans-serif;
  text-shadow: 3px 3px 3px #ababab;
}

.lasa-head {
  background-color: green;
}

.carb-head {
  background-color: red;
}

.meat-head {
  background-color: white;
  color: black;
}

.odin-head {
  background-color: blue;
}

.main-recipes {
  font-size: 40px;
  text-align: center;
}

body {
  background-color: black;
  color: white;
  text-align: center;
  padding-left: 0;
  list-style-position: inside;
}

h2 {
  font-size: 20px;
}
